* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Helvetica; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  vertical-align: middle; }

.header-container {
  position: relative;
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  display: inline-block;
  background: linear-gradient(33deg, #6973c8, #df77ff);
  color: transparent;
  font-weight: bold;
  -webkit-background-clip: text; }
  .header__logo span {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    vertical-align: middle; }
    .header__logo span:last-child {
      margin-bottom: 0; }

.main-menu {
  display: inline-block;
  vertical-align: middle; }

.mein-menu__item {
  display: inline-block;
  list-style-type: none;
  margin-right: 70px; }

.main-menu__link {
  color: #fff;
  vertical-align: middle;
  text-decoration: none; }

.home {
  background: url("../img/business.png") 0 0 no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px; }

.slogan {
  color: #fff;
  font-size: 38px;
  font-family: Helvetica;
  text-align: center;
  margin-bottom: 100px;
  line-height: 50px;
  font-weight: normal;
  width: 100%;
  padding-top: 150px; }

.request-form-wrapper {
  width: 95%;
  height: 290px;
  max-width: 380px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 20px;
  box-sizing: border-box; }

.text-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  height: 50px;
  border-radius: 25px;
  color: #999;
  padding: 0 25px;
  margin-bottom: 30px;
  border: none;
  outline: none; }

.btn {
  cursor: pointer;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 24px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 5px 24px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 5px 24px 0px rgba(50, 50, 50, 0.7);
  background: linear-gradient(33deg, #6973c8, #df77ff); }

.request-form {
  /*display: none*/ }

.request-form--success {
  display: none;
  color: #fff;
  text-align: center;
  position: relative;
  box-sizing: border-box; }
  .request-form--success span {
    line-height: 30px;
    font-size: 18px;
    color: white; }

.success-img {
  display: block;
  border: none;
  margin: 0 auto;
  margin-bottom: 30px; }

.about-us-wrapper {
  padding: 100px 0 0;
  width: 98%;
  max-width: 1200px;
  margin: 0 auto; }

.about-us {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.about-us__img,
.about-us__text {
  flex-basis: auto;
  width: 50%; }

.about-us__text p {
  font-family: Helvetica;
  margin-top: -10px;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 40px;
  color: #333; }

.about-us__img {
  position: relative;
  margin: 0 auto;
  max-width: 380px;
  height: 310px;
  background: linear-gradient(33deg, #6973c8, #df77ff); }
  .about-us__img:after {
    position: absolute;
    content: '';
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background: #fff; }

.about-us__pic {
  position: absolute;
  z-index: 1;
  left: 17%;
  top: -50px; }

.section-title {
  position: relative;
  font-size: 32px;
  font-family: Helvetica;
  text-align: center;
  padding-top: 60px; }
  .section-title:after {
    content: '';
    display: block;
    width: 80px;
    height: 10px;
    margin: 35px auto;
    border-radius: 5px;
    background: linear-gradient(33deg, #6973c8, #df77ff); }

.about-us__short-descr {
  font-size: 24px;
  text-align: center;
  margin-bottom: 60px;
  color: #333; }

.about-us__list {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; }

.about-us__item {
  width: 15%;
  position: relative;
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px; }
  .about-us__item span {
    text-align: center;
    display: block; }

.about-us__item-img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin-bottom: 70px; }
  .about-us__item-img-holder:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    top: 40px;
    left: 110%;
    background: url("../img/about-arrow.png") 0 0 no-repeat; }

.about-us__item:last-child .about-us__item-img-holder:after {
  display: none; }

.section-title--small {
  position: relative;
  font-size: 24px;
  font-family: Helvetica;
  text-align: center; }
  .section-title--small:after {
    content: '';
    display: block;
    width: 20px;
    height: 5px;
    margin: 20px auto;
    border-radius: 3px;
    background: #4a90e2; }

.our-packages__wrapper {
  background: #f6fafb;
  padding-bottom: 70px; }

.our-packages {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto; }

.packages__item {
  position: relative;
  color: #333;
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 10px;
  height: 700px; }

.js-price__slider {
  height: 700px; }

.packages__description-item {
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px; }

span.advert {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: grey;
  margin-bottom: 15px; }

.packages__bottom {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  padding: 30px 30px 0;
  border-top: 1px solid #f6fafb; }

.packages__price {
  display: block;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px; }

a.btn {
  text-decoration: none;
  vertical-align: middle;
  padding: 15px; }

.why-wrapper {
  background: url("../img/why.jpg") 0 0 no-repeat;
  background-size: cover; }

.why__list-wrap {
  width: 98%;
  max-width: 1200px;
  background: #fff;
  margin: 0 auto 20px;
  border-radius: 25px;
  padding: 70px;
  box-sizing: border-box; }

.why__list li {
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px; }
  .why__list li:first-child {
    margin-top: 0; }

.review-wrapper {
  background: #f6fafb; }

.review {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 60px; }

.reviev-slider {
  position: relative; }

.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px; }

.reviev-slider__next {
  right: 10%; }

.reviev-slider__prev {
  left: 10%; }

.reviev-slider__next, .reviev-slider__prev {
  z-index: 2;
  cursor: pointer; }

.reviev-slider .slick-dots li {
  margin: 0; }
  .reviev-slider .slick-dots li button:before {
    font-size: 10px;
    color: #cccccc; }
  .reviev-slider .slick-dots li.slick-active button:before {
    font-size: 20px;
    color: #717aff; }

.review__frame {
  width: 100%;
  max-width: 720px;
  margin: 0 auto; }
  .review__frame iframe {
    width: 100%;
    height: auto;
    min-height: 400px; }

.region-wrapper {
  background: #463d73; }

.region {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 725px; }

.map {
  background: url("../img/map.png") 0 50px no-repeat;
  background-size: contain; }
  .map:after {
    display: block;
    content: '';
    clear: both;
    height: 0px; }

.region-title {
  color: #fff; }
  .region-title:after {
    background: #fff; }

.region__person-img {
  width: 48%;
  height: 500px;
  padding: 0 50px;
  box-sizing: border-box;
  float: left; }

.region-form-holder {
  width: 50%;
  float: right; }

.region-form-wrapper {
  height: 400px;
  max-width: 380px;
  margin: 60px auto;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-sizing: border-box; }

.text-input--r {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  height: 50px;
  border-radius: 25px;
  color: #999;
  padding: 0 25px;
  margin-bottom: 30px;
  border: 2px soslid #e1e1e1;
  outline: none; }

.region-form {
  /*display: none*/ }

.region-form__header {
  font-size: 24px;
  text-align: center;
  display: block;
  line-height: 35px;
  margin-bottom: 45px; }

.region-form--success {
  display: none;
  color: #333333;
  text-align: center;
  position: relative;
  box-sizing: border-box; }
  .region-form--success span {
    line-height: 30px;
    font-size: 18px;
    color: #333333; }
    .region-form--success span.top {
      font-size: 24px;
      font-weight: bold; }
  .region-form--success .success-img {
    padding-top: 40px;
    padding-bottom: 20px; }

.success-img {
  display: block;
  border: none;
  margin: 0 auto;
  margin-bottom: 30px; }

.footer__top {
  background: #717aff;
  padding-bottom: 40px; }

.footer-title {
  color: #fff;
  margin-bottom: 60px; }
  .footer-title:after {
    display: none; }

.footer-form {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around; }
  .footer-form input {
    width: 30%; }

.footer__bottom {
  background: #333; }

.footer__bottom-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between; }
  .footer__bottom-content span {
    color: #fff;
    padding: 10px; }
    .footer__bottom-content span.copyright {
      font-size: 16px; }
    .footer__bottom-content span.footer-phone {
      font-size: 18px; }
